.Header, .Title, .Footer, .Cell {
    -webkit-user-select: none;
    /*-khtml-user-select: none;*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Counter__in {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Tappable, .TabbarItem {
    cursor: pointer;
}